$colorfondo:rgb(44, 44, 44);
$color-titulo: rgb(216, 149, 5);
$tipografia: Verdana;
$size-titulos: 150px;
$tipografia2: Times;

.principal{
    background-color: $colorfondo;
    h1{
        color: $color-titulo;
        font-size: $size-titulos;
        font-family: $tipografia2;
    }
    h3{
        font-size: 20px;
    }
    p{
        font-family: 'Times New Roman', Times, serif;
    }



}